/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*,a::after,a::before{
	margin:0;
	padding:0;
	box-sizing: inherit;
	/* box-sizing: border-box; */
}
html{
	font-size: 62.5%;
	/* Now 1 rem = 10px */
	/* Default font size is 16px */
	/* So 10px is 62.5% of 16px */
}

html {
	font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
	html {
		font-size: 56.25%; 
	} 
}
@media only screen and (max-width: 56.25em) {
	html {
		font-size: 50%; 
	} 
}
@media only screen and (min-width: 112.5em) {
	html {
		font-size: 75%; 
	} 
}
  

body{
	font-family: 'Lato',sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color:#777;
	padding: 3rem;
	background-color: #f7f7f7;
	box-sizing: border-box;
}
body {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	padding: 3rem; 
}
@media only screen and (max-width: 56.25em) {
	body {
		padding: 0.8rem; 
	} 
}

.header{
	height:95vh;
	/* background-image:linear-gradient(to right bottom,rgba(126,213,111,0.8),rgba(40,180,131,0.8)),url('pixels.jpg'); */
	background-image:linear-gradient(to right bottom,rgb(147,165,207,0.8),rgba(228,239,233,0.8)),url('img/pixels.jpg');
	background-size: cover;
	background-position: top;
	position: relative;
	/* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
}
.header__logo-box{
	position: absolute;
	top:4rem;
	left: 4rem;
}
.header__logo{
	height:3.5rem;
}

.header__text-box{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align:center; 
}


.heading-primary{
	/* color:#fff; */
	color:#703131;
	text-transform: uppercase;
    margin-bottom: 6rem;
}
.heading-primary--main{
	display: block;
	font-size: 6rem;
	/* font-weight: 400; */
	font-weight: 510;
	letter-spacing: 3.5rem;

	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}
.heading-primary--sub{
	display: block;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 1.75rem;
	animation: moveInRight 1s ease-out;
} 

@media only screen and (max-width: 37.5em) {
	.heading-primary--main {
		letter-spacing: 1rem;
		font-family: 5rem; 
	} 
}
@media only screen and (max-width: 37.5em) {
	.heading-primary--sub {
		letter-spacing: .5rem; 
	} 
}
@media only screen and (max-width: 56.25em) {
    .heading-secondary {
	  	font-size: 3rem; 
	} 
}
@media only screen and (max-width: 37.5em) {
    .heading-secondary {
	  	font-size: 2.5rem; 
	} 
}

@keyframes moveInLeft {
	0%{
		opacity: 0;
		transform: translate(-10rem);
	}
	80%{
		transform: translate(1rem);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0%{
		opacity: 0;
		transform: translate(10rem);
	}
	80%{
		transform: translate(-1rem);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInButtom {
	0%{
		opacity: 0;
		transform: translateY(3rem);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

.btn:link, .btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all .2s;
	position: relative;
	font-size: 1.6rem;
}
.btn:hover{
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}
.btn:active{
	transform: translateY(1px);
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
}
.btn--white{
	background-color: #fff;
	color: #777;
}
.btn::after{
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}
.btn--white::after{
	background-color: #fff;
}
.btn:hover::after{
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}
.btn--animated{
	animation:moveInButtom .5s ease-out 0.75s;
	animation-fill-mode: backwards;
} 


/*************NAVIGATION********************/
/* .navigation__nav a{
	pointer-events: none;
	cursor: default;

} */

.navigation__checkbox {
	display: none;
}
  
.navigation__button {
	background-color: #fff;
	height: 7rem;
	width: 7rem;
	position: fixed;
	top: 6rem;
	right: 6rem;
	border-radius: 50%;
	z-index: 2000;
	-webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
			box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
	text-align: center;
	cursor: pointer;
 }
@media only screen and (max-width: 56.25em) {
	.navigation__button {
		top: 4rem;
		right: 4rem; 
	} 
}
@media only screen and (max-width: 37.5em) {
	.navigation__button {
		top: 3rem;
		right: 3rem; 
	} 
}
  
.navigation__background {
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	position: fixed;
	top: 6.5rem;
	right: 6.5rem;
	/* background-image: radial-gradient(#7ed56f, #28b485); */
	background-image: radial-gradient(#93a5cf, #e4efe9);
	z-index: 1000;
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); 
}
@media only screen and (max-width: 56.25em) {
	.navigation__background {
		top: 4.5rem;
		right: 4.5rem; 
	}
}
@media only screen and (max-width: 37.5em) {
	.navigation__background {
		top: 3.5rem;
		right: 3.5rem; 
	} 
}
  
.navigation__nav {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;
	opacity: 0;
	width: 0;
	-webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}
  
.navigation__list {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	width: 100%; 
}
  
.navigation__item {
	margin: 1rem;
}
  
.navigation__link:link, .navigation__link:visited {
	display: inline-block;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 2rem;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
	background-size: 226%; /*220 default */
	-webkit-transition: all .4s;
	transition: all .4s; 
}
.navigation__link:link span, .navigation__link:visited span {
	  margin-right: 1.5rem;
	  display: inline-block; 
}
  
.navigation__link:hover, .navigation__link:active {
	background-position: 100%;
	color: #55c57a;
	-webkit-transform: translateX(1rem);
			transform: translateX(1rem); 
}
  
.navigation__checkbox:checked ~ .navigation__background {
	-webkit-transform: scale(80);
			transform: scale(80); 
}
  
.navigation__checkbox:checked ~ .navigation__nav {
	opacity: 1;
	width: 100%;
}
  
.navigation__icon {
	position: relative;
	margin-top: 3.5rem; 
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
	width: 3rem;
	height: 2px;
	background-color: #333;
	display: inline-block; 
}
.navigation__icon::before, .navigation__icon::after {
	content: "";
	position: absolute;
	left: 0;
	-webkit-transition: all .2s;
	transition: all .2s; 
}
.navigation__icon::before {
	top: -.8rem; }
.navigation__icon::after {
	top: .8rem; 
}
  
  
.navigation__button:hover .navigation__icon::before {
	top: -1rem; 
}  
.navigation__button:hover .navigation__icon::after {
	top: 1rem; 
}
  
.navigation__checkbox:checked + .navigation__button .navigation__icon {
	background-color: transparent; 
}
  
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
	top: 0;
	-webkit-transform: rotate(135deg);
			transform: rotate(135deg); 
}
  
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
	top: 0;
	-webkit-transform: rotate(-135deg);
			transform: rotate(-135deg); 
}



/* Own Styles */
h2{
	font-size:3rem;
}
h3{
	font-size:2rem;
}
p{
	font-size:1.7rem;
}

.container-1__sub1,.container-1__sub2{
	background-color: white;
}


.container-1__sub2_h3{
	border-bottom:1px solid rgb(180, 175, 175);
	padding-bottom: 1rem;
	margin-top:1rem;
}

@media (min-width:675px){
	.container-1{
		display:flex;
		justify-content: space-between;
	}
	.container-1__sub1{
		width:73%;
		order:2;
	}
	.container-1__sub2{
		width:25%;
		order:1
	}
	h3{
		font-size:1.5rem;
	}
	h2{
		font-size:2rem;
	}

}
.container-1__sub1,.container-1__sub2{
	padding:1rem;
}
.container-1{
	margin-top:3rem;
}


/* Section */
.section-features {
	padding: 20rem 0;
	/* background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(nat-4.jpg); */
	background-image: linear-gradient(to right bottom, rgb(147,165,207,0.8),rgba(228,239,233,0.8)), url("img/section-features-4.jpg");
	background-size: cover;
	transform: skewY(-5deg);
	margin-top: 8rem; 
}
.section-features > * {
	transform: skewY(5deg); 
}
@media only screen and (max-width: 56.25em) {
	.section-features {
		padding: 0.5rem 0; 
	} 
}
.feature-box {
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 1.5rem;
	padding: 2.5rem;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	transition: transform .3s; }
@media only screen and (max-width: 56.25em) {
	.feature-box {
		padding: 2rem; 
	} 
}
.feature-box__icon {
	font-size: 6rem;
	margin-bottom: .5rem;
	display: inline-block;
	background-image: linear-gradient(to right, #7ed56f, #28b485);
	color: transparent; }
@media only screen and (max-width: 56.25em) {
	.feature-box__icon {
		margin-bottom: 0; 
	} 
}
.feature-box:hover {
	transform: translateY(-1.5rem) scale(1.03); 
}
.feature-box{
	width:90%;
	margin:5rem auto;
}
#container-1__spl{
	margin-bottom: 2rem;
}
@media (min-width:675px){
	.row{
		display:flex;
	}
	.section-features{
		margin:3rem 0;
		margin-top: 10rem;
		/* padding:10rem; */
	}
	#container-1__spl{
		margin-bottom: 0;
	}
	
}
.feature-box__image{
	width:100%;
}

/* Scholarship Button */
.scholarships{
	font-size:4rem;
	margin-top:3rem;
	text-align: center;
	margin-bottom:2rem;
}
.button-1 a{
	background: #7dd56f;
	background-image: -webkit-linear-gradient(top, #7dd56f, #28b485);
	background-image: -moz-linear-gradient(top, #7dd56f, #28b485);
	background-image: -ms-linear-gradient(top, #7dd56f, #28b485);
	background-image: -o-linear-gradient(top, #7dd56f, #28b485);
	background-image: linear-gradient(to bottom, #7dd56f, #28b485);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	/* bg-start-gradient-hover: ;
	bg-end-gradient-hover: ; */
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	display:block;
	margin:auto;
	margin-bottom: 0.5rem;
	text-align: center;
}
  
.button-1 a:hover {
	text-decoration: none;
}
.button{
	/* margin-top:10rem; */
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.button-1{
	width:45%
}
@media (min-width:675px){
	.button-1{
		width:24%;
		margin-bottom: 1rem;
	}
	.scholarships{
		margin-top:5rem;
	}
}


/* About Ourselves */
.u-center-text {
	text-align: center !important; 
}
  
.u-margin-bottom-small {
	margin-bottom: 1.5rem !important; 
}
  
.u-margin-bottom-medium {
	margin-bottom: 4rem !important; 
}
@media only screen and (max-width: 56.25em) {
	.u-margin-bottom-medium {
	margin-bottom: 3rem !important; 
	} 
}
  
.u-margin-bottom-big {
	margin-bottom: 8rem !important; 
}
@media only screen and (max-width: 56.25em) {
	.u-margin-bottom-big {
	margin-bottom: 5rem !important; 
	} 
}
  
.u-margin-top-big {
	margin-top: 8rem !important; 
}
  
.u-margin-top-huge {
	margin-top: 10rem !important; 
}
  
.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: .15;
	overflow: hidden; }
.bg-video__content {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover; 
}
.story {
	width: 75%;
	margin: 0 auto;
	-webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
			box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 3px;
	padding: 6rem;
	padding-left: 9rem;
	font-size: 1.6rem;
	-webkit-transform: skewX(-12deg);
			transform: skewX(-12deg); 
}
@media only screen and (max-width: 56.25em) {
	.story {
	width: 100%;
	padding: 4rem;
	padding-left: 7rem; 
	} 
}
@media only screen and (max-width: 37.5em) {
	.story {
	-webkit-transform: skewX(0);
	transform: skewX(0);
	} 
}
.story__shape {
	width: 15rem;
	height: 15rem;
	float: left;
	-webkit-transform: translateX(-3rem) skewX(12deg);
			transform: translateX(-3rem) skewX(12deg);
	position: relative;
	overflow: hidden;
	border-radius: 50%; 
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
	.story__shape {
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		border-radius: none; 
	} 
}
@media only screen and (max-width: 37.5em) {
	.story__shape {
		-webkit-transform: translateX(-3rem) skewX(0);
				transform: translateX(-3rem) skewX(0); 
	} 
}
.story__img {
	width:105%;
	background-size: cover;
	/* height: 100%; */
	/* -webkit-transform: translateX(-4rem) scale(1.4);
			transform: translateX(-4rem) scale(1.4); */
	-webkit-transform: translateX(-1rem) scale(1.4);
			transform: translateX(-1rem) scale(1.4);
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	-webkit-transition: all .5s;
			  transition: all .5s; 
}
.story__text {
	-webkit-transform: skewX(12deg);
			transform: skewX(12deg); 
}
@media only screen and (max-width: 37.5em) {
	.story__text {
		-webkit-transform: skewX(0);
				transform: skewX(0); 
	} 
}
.story__caption {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, 20%);
			transform: translate(-50%, 20%);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.7rem;
	text-align: center;
	opacity: 0;
	-webkit-transition: all .5s;
			transition: all .5s;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden; 
}
.story:hover .story__caption {
	opacity: 1;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%); 
}
.story:hover .story__img {
	/* -webkit-transform: translateX(-4rem) scale(1);
			transform: translateX(-4rem) scale(1); */
	-webkit-transform: translateX(-1rem) scale(1);
			transform: translateX(-1rem) scale(1);
	-webkit-filter: blur(3px) brightness(80%);
			filter: blur(3px) brightness(80%); 
}

.row-2 {
	max-width: 114rem;
	margin: 0 auto; 
}
.row-2:not(:last-child) {
	margin-bottom: 8rem; 
}
@media only screen and (max-width: 56.25em) {
	.row-2:not(:last-child) {
		margin-bottom: 6rem; 
	} 
}
@media only screen and (max-width: 56.25em) {
	.row-2 {
		max-width: 50rem;
		padding: 0 3rem; 
	} 
}
.row-2::after {
	content: "";
	display: table;
	clear: both; 
}

.section-stories {
	position: relative;
	padding: 15rem 0; }
@media only screen and (max-width: 56.25em) {
	.section-stories {
		padding: 10rem 0; 
	} 
}
.section-stories{
	margin-top:3rem;
}


/* Login Form */
.row-3{
	max-width: 114rem;
	margin: 0 auto; 
}
.row-3:not(:last-child) {
	margin-bottom: 8rem; 
}
@media only screen and (max-width: 56.25em) {
	.row-3:not(:last-child) {
		margin-bottom: 6rem; 
	} 
}
@media only screen and (max-width: 56.25em) {
	.row-3{
		max-width: 50rem;
		padding: 0 3rem; 
	} 
}
.row-3::after {
	content: "";
	display: table;
	clear: both; 
}

.book {
	background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(img/nat-10.jpg);
	background-size: 100%;
	border-radius: 3px;
	-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
			box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); 
}
.section-book{
	background-image: linear-gradient(to right bottom, rgb(147,165,207,0.8),rgba(228,239,233,0.8));
	padding-top:10rem;
	padding-bottom: 10rem;
}

@media only screen and (max-width: 75em) {
	.book {
		background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(img/nat-10.jpg);
		background-size: cover; 
	} 
}
@media only screen and (max-width: 56.25em) {
	.book {
		background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(img/nat-10.jpg);
		background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(img/nat-10.jpg); 
	} 
}
.book__form {
	width: 50%;
	padding: 6rem; 
}
@media only screen and (max-width: 75em) {
	.book__form {
		width: 65%; 
	} 
}
@media only screen and (max-width: 56.25em) {
	.book__form {
		width: 100%; 
	} 
}

.form__group:not(:last-child) {
	margin-bottom: 2rem; 
}
  
.form__input {
	font-size: 1.5rem;
	font-family: inherit;
	color: inherit;
	padding: 1.5rem 2rem;
	border-radius: 2px;
	background-color: rbga(#fff, 0.5);
	border: none;
	border-bottom: 3px solid transparent;
	width: 90%;
	display: block;
	transition: all .3s; 
}
@media only screen and (max-width: 56.25em) {
	.form__input {
		width: 100%; 
	} 
}
.form__input:focus {
	outline: none;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
	border-bottom: 3px solid #55c57a; 
}
.form__input:focus:invalid {
	border-bottom: 3px solid #ff7730; 
}
.form__input::-webkit-input-placeholder {
	color: #999; 
}
  
.form__label {
	font-size: 1.2rem;
	font-weight: 700;
	margin-left: 2rem;
	margin-top: .7rem;
	display: block;
	transition: all .3s; 
}
  
.form__input:placeholder-shown + .form__label {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-4rem); 
}
/* .btn--green {
	background-color: #55c57a;
	color: #fff; } */
/* .btn--green::after {
	background-color: #55c57a; } */
@media (min-width:675px){
	.section-book{
		background-image: linear-gradient(to right bottom, rgb(147,165,207,0.8),rgba(228,239,233,0.8));
		padding:10rem;
	}
}

.btn--spl a{
  background: #93a5cf;
  background-image: -webkit-linear-gradient(top, #93a5cf, #e4efe9);
  background-image: -moz-linear-gradient(top, #93a5cf, #e4efe9);
  background-image: -ms-linear-gradient(top, #93a5cf, #e4efe9);
  background-image: -o-linear-gradient(top, #93a5cf, #e4efe9);
  background-image: linear-gradient(to bottom, #93a5cf, #e4efe9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #4d044d;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn--spl a:hover {
  background: #93a5cf;
  text-decoration: none;
}


/* Footer */

.footer {
	background-color: #333;
	padding: 10rem 3rem;
	padding-top:3rem;
	font-size: 1.4rem;
	color: #f7f7f7; 
}
/* @media only screen and (max-width: 56.25em) {
	.footer {
		padding: 8rem 0; 
	} 
} */
/* .footer__logo-box {
	text-align: center;
	margin-bottom: 8rem; 
}
@media only screen and (max-width: 56.25em) {
	.footer__logo-box {
		margin-bottom: 6rem; 
	} 
}
.footer__logo {
	width: 15rem;
	height: auto; 
} */
.footer__navigation {
	border-top: 1px solid #777;
	padding-top: 2rem;
	padding-bottom:2rem;
	display: inline-block; 
}
@media only screen and (max-width: 56.25em) {
	.footer__navigation {
		width: 100%;
		text-align: center; 
	} 
}
.footer__list {
	list-style: none;
}
.footer__item {
	display: inline-block; 
}
.footer__item:not(:last-child) {
	margin-right: 1.5rem; 
}
.footer__link:link, .footer__link:visited {
	color: #f7f7f7;
	background-color: #333;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	transition: all .2s; 
}
.footer__link:hover, .footer__link:active {
	color: #55c57a;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
	transform: rotate(5deg) scale(1.3); 
}
.footer__copyright {
	border-top: 1px solid #777;
	padding-top: 2rem;
	width: 80%;
	float: right; 
}
@media only screen and (max-width: 56.25em) {
	.footer__copyright {
		width: 100%;
		float: none; 
	} 
}
.footer-logo{
	width:30%;
	margin:2rem auto;
}
.footer-logo img{
	width:100%;
}
/* footer{
	padding:3rem;
} */
@media (min-width:675px){
	.col-1-of-2{
		width:40%;
		margin:0 auto;
	}
	.footer{
		padding:3rem;
	}
}
@media (min-width:675px){
	.section-stories-heading{
		font-size:3.5rem;
	}
}

.container-1__sub2 a{
	text-decoration: none;
	color:#777
}